<% include adminheader %>
<main style="padding-top:85px;" ng-app="">
        <!--Main layout-->
		
        <div class="container">

            <!--Page heading-->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="h3-responsive"> 
                        <small class="text-muted">DELETE QUESTIONS & SOLUTIONS</small>
                    </h3>
					
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="/selecttopic">Select Topic</a></li>
						<li class="breadcrumb-item active">Questions with Solution</li>
					</ol>
				
                </div>
            </div>
            <!--/.BreadCrumb with Title-->
            <div class="row" >
                <!--First column-->
                <div class="col-md-9 unit-section">
                <ul class="list-group">
		    <% students.forEach( function( student ) { %>
				
				<li class="list-group-item"><h4>Question&nbsp;<%=-1*(student.questionid-(totalStudents+1)) %>:&nbsp;<%= student.question %>
                        </h4></br>
						<p style="font-size:18px;"><b style="color:blue">A.</b>&nbsp;&nbsp;<%= student.option1 %></p>
						<p style="font-size:18px;"><b style="color:blue">B.</b>&nbsp;&nbsp;<%= student.option2 %></p>
						<p style="font-size:18px;"><b style="color:blue">C.</b>&nbsp;&nbsp;<%= student.option3 %></p>
						<p style="font-size:18px;"><b style="color:blue">D.</b>&nbsp;&nbsp;<%= student.option4 %></p>
						

						<li><a href="/dQuestion/?id=<%= student.questionid %>" class="anchor-class">Delete Question</a></li>
						
						</li>
			<% }) %>
			
						
		</ul>
				</div>
				<div class="col-md-3" >
				<a href="/correctSequence" class="btn btn-default">Correct Sequence</a>
				</div>
				
	
			</div>
			
			
</div>
</main>
<% include footer %>